@charset "utf-8";

html  {overflow-x: hidden;}

BODY
{ font-family: 'Roboto', sans-serif;  margin: 0px; padding: 0px; color: rgba(0,0,0,1);  }

A, .mainText  
{ text-decoration: none; color: inherit; }
A:hover, .mainText:hover
{ text-decoration: none; color: inherit; }
A:visited, .mainText:visited
{ text-decoration: none; color: inherit; }



.mainlink
{ text-decoration: none; color: inherit; }
.mainlink:hover
{ text-decoration: none; color: inherit; }
.mainlink:visited
{ text-decoration: none; color: inherit; }


/* calc */
#count_result_min { display: none; }
#count_result_details { display: none; }
#count_result_detinfo { display: block; }
#calc-details {cursor: pointer;}
#km_more_10 { visibility: hidden; }
#contract_step2 {display: none;}
#contract_step3 {display: none;}
#contract_step4 {display: none;}


#top-slider-text1 {display: block; }
#top-slider-text2 {display: none; }
#top-slider-text3 {display: none; }
#top-slider-text4 {display: none; }
#top-slider-text5 {display: none; } 









#top-slider-header1 {display: block; }
#top-slider-header2, #top-slider-header3, #top-slider-header4, #top-slider-header5 {display: none;}

.top-fixed-logo
{ cursor: pointer; } 

.filename
{  text-decoration: none; color: inherit; }

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
	opacity: 0.7;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 100%;
}

.video-container video.fillWidth {
    width: 100%;
}

#modales-back
{ display: none;
  visibility: visible;
  background: url(../images/modales-bg.jpg) rgba(51,51,51,1) center center no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 0.8;
}

.modal-window
{background: rgba(255,255,255,1);
 border: 1px #FFF solid;
 border-radius: 20px;
 position: fixed;
   left: 50%;
   top: 50%;
  z-index: 201;
}

.modal-window-close
{position: absolute;
 right: 15px;
 top:15px;
 width: 19px;
 height: 21px;
 cursor: pointer;
 background: url(../images/crest.png) center center no-repeat;
}

.sinput
{border: 1px solid #dddddd; color: #474646; }

.marketplaceslogo
{
    height: 50px;
	width: 100px;
}

.ozon
{ background: url(../images/logos/ozon.png) no-repeat center center; }

.wildberries
{ background: url(../images/logos/wildberries.png) no-repeat center center; }

.ym
{ background: url(../images/logos/ym.png) no-repeat center center; max-width: 100px; }

.marketplaceslink
{
	height: 50px;
	width: 95%;
	padding-left: 10px;
}
